<%- include('includes/links.ejs') %>
<body>
 <%- include('includes/nav2.ejs') %>
 <%- include('includes/back.ejs') %>
<main>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
               <h2 class="text-uppercase text-center mb-5">Student Details</h2>
             <div class="ms-4 mt-5 d-flex flex-column" style=" width: 150px;">
              <img src="/images/<%= data.Image %>"
                alt="profile pic" class="img-fluid img-thumbnail mt-1 mb-2"
                style="width: 150px; z-index: 1">
            </div>
            <form>
                <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Name</label>
            <input type="text" id="form1Example13" class="form-control form-control-lg" name="name" value="<%= data.name %>"  readonly/>
                </div>  
                <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Address</label>
            <textarea name="address" class="form-control form-control-lg" readonly><%= data.address %></textarea>
                </div>
                   <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Email address</label>
            <input type="email" id="form1Example13" class="form-control form-control-lg" name="email" value="<%= data.email %>" readonly/>
                   </div>
                      <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Phone</label>
            <input type="tel" id="form1Example23" class="form-control form-control-lg" name="phone" value="<%= data.phone %>" readonly/>
                      </div>
                    <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">
              Branch
            </label>
            <input type="tel" id="form1Example23" class="form-control form-control-lg" name="phone" value="<%= data.branch %>" readonly/>
                            </div>
                         <div class="form-outline mb-4">
          <label class="form-label" for="form1Example23">Dob</label>
            <input type="date" id="form1Example23" class="form-control form-control-lg" name="dob" value="<%= data.dob %>" readonly/>
                         </div>

                               <div class="form-outline mb-4">

                               </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
    </body>
    </html>



  